body {
  display: flex;
  background-size: cover;
  background-color: #636e72;
  align-items: center;
  justify-content: center;
}

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: #0984e3;
  /* transition: color 0.5s ease-in-out; */
}

.clock {
  color: white;
  font-size: 70px;
  font-family: "Josefin Sans";
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clicked {
  color: #2d3436;
}

.btn {
  cursor: pointer;
}

.form,
.greetings {
  display: none;
  font-family: "Nanum Pen Script";
  font-size: 60px;
  color: white;
}

.name {
  margin-bottom: 30px;
}

.greetings {
  margin-bottom: 30px;
  font-weight: 400;
}

input {
  background: none;
  border: 0;
  border-bottom: 2px solid white;
  font-size: 23px;
  outline: 0;
  text-align: center;
  color: white;
}

.toDoList {
  color: beige;
  list-style: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.weather {
  color: white;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 600;
  bottom: 30px;
  left: 30px;
  position: absolute;
  font-style: italic;
}
